<ion-header>
</ion-header>

<ion-content padding >
  <ion-img width="60" height="40" src="../../assets/Logo.png"></ion-img>
  <ion-card style="top:20%; transform: translate(0,-50%)">
    <ion-card-content>
      <ion-item>
          <ion-input [type]="'email'" [placeholder]="'Enter email'"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input [type]="'password'" [placeholder]="'Enter password'"></ion-input>
      </ion-item>
      <ion-item href="/setupInfo" color="secondary" style="margin-top:10%">
        <ion-icon name="log-in" slot="start"></ion-icon>
        <ion-label>Login</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
