round-progress {
  top: 10%;
  margin: 0 auto;
}

.counter {
  position: absolute;
  font-size: 8em;
  top: 19%;
  left: 42%;
  z-index: 1;
}

.counterLeft {
  position: absolute;
  top: 70%;
  left: 45%;
}