<app-toolbar></app-toolbar>
<ion-content padding>
  <ion-toolbar>
    <ion-title>Tracker</ion-title>
  </ion-toolbar>
  <ion-card>
      <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>Monthly Stats</ion-label>
      </ion-item>
      <ion-img width="80" height="80" src="https://i.stack.imgur.com/T0c0e.png"></ion-img>
    </ion-card>
    <div></div>
    <ion-card>
            <ion-item>
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-label>Yearly Stats</ion-label>
            </ion-item>
            <ion-img width="80" height="80" src="https://i.stack.imgur.com/T0c0e.png"></ion-img>
    </ion-card>
</ion-content>