<app-toolbar></app-toolbar>
<ion-content padding>
  <ion-toolbar>
    <ion-title>Account Settings</ion-title>
  </ion-toolbar>
  <ion-card>
      <ion-item href="/account">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>Account Information</ion-label>
      </ion-item>
      <ion-item href="/account">
        <ion-icon name="disc" slot="start"></ion-icon>
        <ion-label>Setup Drink Goal</ion-label>
    </ion-item>
    <ion-item href="/account">
      <ion-icon name="log-out" slot="start"></ion-icon>
      <ion-label>Log Out</ion-label>
  </ion-item>
    </ion-card>
</ion-content>
